#left{
    background: #611f69;
    padding-top: 20px;
    color: whitesmoke;
    padding-bottom: 25px;
}

.left-heading{
    margin-left: 18px;

}

.left-main-head{
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.left-noti{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 20px;
}

.thread{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 28px;
}
.thread p{
    font-size: 18px;
    margin-left: 5px;
}
.thread i{
    margin-top: 3px;
}


.starred p{
    font-size: 18px;
    margin-left: 18px;
}

.starred ul{
    list-style: none;
    margin-left: 18px;
    padding-left: 0px;
    margin-bottom: 25px;
}

.starred ul li span{
    margin-right: 5px;
    font-size: 14px;
}

.starred ul li{
    font-size: 16px;
    padding-bottom: 3px;
}

#left-accordian{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

#left-accordian span{
    float: right;
}

.left-collapse-list{
    list-style: none;
    margin-left: 18px;
    padding-left: 0px;
    margin-bottom: 25px;

}

.left-collapse-list li{
    padding-bottom: 3px;
    font-size: 15px;
}

.left-collapse-list span{
    margin-right: 5px;
    font-size: 14px;
}

.noti{
    float: right;
}

.upper-span{
    padding: 5px;
    font-size: 12px
}

.right-ico{
    font-size: 20px;
}

.right-content{
    margin-top: 20px;
    /*margin-left: 120px;*/
}

#upper-search{
    font-size: 12px;
    border-radius: 6px;
    padding: 5px;
}

.line{
    border-width: 2px;

}

/*.message-section{*/
/*    height: 460px;*/
/*    width: 600px;*/
/*}*/

.lower-message{
    border: 2px solid;
    border-radius: 6px;
    margin-top: 7px;
    bottom: 0;
    position: absolute;
    padding: 0;
    width: 96%;
    vertical-align:bottom;
}

.lower-row{
    width: 50%;
    border: none;
    padding: 10px;
    /*border-radius: 6px;*/
    font-size: 15px;
}

.lower-message-ico{
    font-size: 18px;
    padding-top: 12px;
    padding-right: 10px;
}
.massage{
    margin-left: 5px
}
.massage-content{
    float: left;
    margin: 0;
    padding: 0;

}
.line{
    float: left;
    margin-top: 80px
}
.upper-main{
    float: left;
}

.right{
    float: right;
}

#menu-search{
    width: 90%;
    margin-left: 7px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #611f69;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@media only screen and (max-width: 768px) {
    #upper-search{
        display: none;
    }
    #left{
        display: none;
    }

    .upper-span{
        font-size: 16px;
    }

    .mob-upper-heading{
        font-size: 22px;
    }

    .container{
        width: 100%;
    }

}

@media only screen and (min-width: 769px) {
    /*#menu-search{*/
    /*    display: none;*/
    /*}*/
    #toggle-myBtn{
        display: none;
    }
}
